

  .create-quiz-button{
        position: absolute;
        right: 0;
        margin-right: 20px;
        padding: 20px 20px;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #ffffff;
        background-color: #FF3600;
        border: none;
        border-radius: 15px;
  }

  .create-quiz-button:hover {background-color: #3e8e41}

.create-quiz-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.card-container{
    display: flex;
    flex-direction: row;
}

.card-title{
  padding-bottom: 20px;
}

.card-body{
  color: #FF3600;

}

.form-label{
  padding-bottom: 10px;
}
  
  .quiz-card{
    background-color: #fff;
    color: #341055;
    width: 90%;
    height: 75%;
    margin-top: 8%;
    box-sizing: border-box;
    padding: 50px;
    box-shadow: 0px 0px 7px #FF3600;
    overflow: auto;
 
    
  }
  

