

.left{
  
    align-items: center;
    width: 50%;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    z-index: 10;
    transition: all 0.3s ease;
}


.logo{
    height: 600px; 
    top: 15%;
    left: 8%;
    position: fixed;
}

.container {
  align-items: center;
  width: 51%;
  background-color: #341055;
  position: fixed;
  left: 50%;
  top: 0%;
  position: fixed;
  height: 100%;
  border-right: 1px solid var(--bg-black-50);
  z-index: 10;
  transition: all 0.3s ease;
  }
  
  .screen {		
    background: linear-gradient(90deg, #341055, #FF3600);		
    position: relative;	
    height: 600px;
    width: 360px;	
    box-shadow: 0px 0px 24px #000000;
    left: 30%;
    top: 20%;
  }
  
  .screen__content {
    z-index: 1;
    position: relative;	
    height: 100%;
  }
  
  .screen__background {		
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);	
  }
  
  .screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
  }
  
  .screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;	
    top: -50px;
    right: 120px;	
    border-radius: 0 72px 0 0;
  }
  
  .screen__background__shape2 {
    height: 222px;
    width: 220px;
    background: #341055;	
    top: -172px;
    right: 0;	
    border-radius: 32px;
  }
  
  .screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #341055, #FF3600);
    top: -24px;
    right: 0;	
    border-radius: 32px;
  }
  
  .screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #341055;	
    top: 420px;
    right: 50px;	
    border-radius: 60px;
  }
  
  .login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
  }
  
  .login__field {
    padding: 20px 0px;	
    position: relative;	
  }

  .login__icon {
    position: absolute;
    top: 30px;
    color: #7875B5;
  }
  
  .login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
  }

  .password-input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
  } 

  .username-input{
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
  }
  
  .login__input:active,
  .login__input:focus,
  .login__input:hover {
    outline: none;
    border-bottom-color: #6A679E;
  }

  .button-container{
    display: flex;
    flex-direction: row;
  }
  
  .submit-btn {
    margin-right: 12px;

    background: #fff;
    font-size: 14px;
    margin-top: 20px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 50%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
  }
  
  .login-submit:active,
  .login-submit:focus,
  .login-submit:hover {
    border-color: #6A679E;
    outline: none;
  }
  
  .button-icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
  }
  

  @media screen and (max-width: 780px) {
    .container {
      align-items: center;
      width: 100%;
      background-color: #341055;
      position: fixed;
      left: 0;
      top: 0%;
      position: fixed;
      height: 100%;
      border-right: 1px solid var(--bg-black-50);
      z-index: 10;
      transition: all 0.3s ease;
      }
  }

  @media screen and (max-width: 1080px) {
    .main-container{
      display: flex;
      flex-direction: column;
    }
    .container {
      align-items: center;
      width: 100%;
      background-color: #341055;
      position: fixed;
      left: 0;
      top: 0%;
      position: fixed;
      height: 100%;
      border-right: 1px solid var(--bg-black-50);
      z-index: 10;
      transition: all 0.3s ease;
      }
  }